[package]
name = "uu_pwdx"
version = "0.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[[bin]]
name = "pwdx"
path = "src/pwdx.rs"
