[package]
name = "uu_renice"
version = "0.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libc = { workspace = true }

[[bin]]
name = "renice"
path = "src/renice.rs"
